/* Title */

#title {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

#title>.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    z-index: -2;
}

#title>.title_card {
    position: relative;
    width: 300px;
    height: 300px;
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title>.quote {
    width: 400px;
    height: auto;
    font-size: 25px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;

}

#title>.title_card>.name {
    font-size: 80px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    text-align: left;
    padding-left: 10px;
    z-index: 1;
}

#title>.title_card:hover .zoom_ani {
    border: 150px solid red;
}

/* Search Bar */

#search_bar {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search_bar .title {
    font-size: 20px;
    padding-bottom: 10px;
}

#search_bar .search_form #keywords {
    width: 800px;
    height: 50px;
    padding: 0px 10px 0px 10px;
    border: 2px solid #000;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
}

#search_bar .search_form,.advanced_search_form {
    width: 100%;
    font-size: 20px;
}

#search_bar .search,.advanced_search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

#search_bar .advanced_search .search_item {
    width: 800px;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#search_bar .advanced_search .field {
    height: 30px;
    flex-grow: 1;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    outline: none;
}

#search_bar .advanced_search .left {
    margin-left: 15px;
    margin-right: 40px;
}

#search_bar .advanced_search .right {
    margin-left: 15px;
}

#search_bar .submit {
    width: 150px;
    height: 40px;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: transparent;
    font-size: 22px;
}

.submit:hover {
    width: 200px;
    color: #fff;
    background-color: #000;
}

::placeholder {
    color: rgb(150, 150, 150);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(150, 150, 150);
}

#search_bar .advanced_btn #adv_btn {
    border: none;
    background-color: transparent;
}

#search_bar .advanced_btn #adv_btn .off,.on {
    width: 200px;
    padding-top: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}

#search_bar .advanced_btn #adv_btn .off:hover,.on:hover {
    width: 300px;
}

/* Projects Display */

#project_ul {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project_li {
    width: 30%;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    overflow: hidden;
}

.project_li:hover {
    cursor: pointer;
}

.project_li .project_frame {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

.project_li .project_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.project_li .shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.project_li:hover .project_img {
    transform: scale(1.2);
}

.project_li:hover .shadow {
    box-shadow: inset 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.project_li .name {
    width: 100%;
    height: 20%;
    z-index: 1;
}

.project_li .project_text .name {
    justify-content: center;
    text-align: center;
    font-size: 21px;
}

.project_li .project_text .mini_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_li .project_text .mini_text .block {
    width: 80px;
    height: 50px;
}

.project_li .project_text .mini_text .title {
    font-size: 18px;
}

.project_li .project_text .mini_text .content {
    font-size: 15px;
}

#show_more_results {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#show_more_results .btn {
    width: 300px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

#show_more_results .btn:hover {
    transform: scale(1.2);
}

#no_result {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: none;
}

#no_result .img {
    width: 400px;
    height: 400px;
    filter: drop-shadow(0 0 0.75rem #000);
}

#no_result h2 {
    font-size: 40px;
}

#no_result h4 {
    font-size: 20px;
}