#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    z-index: -1;
}

#copyright {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
}

#copyright > p {
    font-size: 2vmin;
    color: white;
}

#display-screenshot {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display-screenshot > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(0.5);
    z-index: -1;
}

#display-screenshot > img {
    width: auto;
    height: 90%;
    transition: all 0.5s ease;
}

#title {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-left: 15vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 5vmin;
}

#title > .isle {
    width: auto;
    height: 50%;
}

#title > .title-text1 {
    font-size: 6vmin;
    color: white;
}

#title > .title-text2 {
    font-size: 10vmin;
    color: white;
    font-weight: bold;
}

#title > .title-text3 {
    font-size: 6vmin;
    color: white;
    font-style: italic;
}

#title > .quick-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3vmin;
}

#title > .quick-nav > a {
    padding-block: 1vmin;
    padding-inline: 3vmin;
    font-size: 5vmin;
    border: solid 1vmin white;
    color: white;
    text-decoration: none;
    transition: all 0.25s ease;
}

#title > .quick-nav > a:hover {
    background-color: white;
    color: black;
}

.section {
    width: 100%;
    height: 100vh;
    padding-left: 15vw;
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vmin;
}

.section > .title {
    font-size: 10vmin;
    color: white;
    font-weight: bold;
}

.section > .desc {
    width: 70%;
    font-size: 4vmin;
    color: white;
}

.section > .desc > .highlight {
    font-weight: bold;
    font-style: italic;
}

.section > .desc > a {
    color: white;
    text-decoration: underline;
}

.section > .screenshots {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    gap: 3vmin;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.section > .screenshots > img {
    width: auto;
    height: 100%;
    cursor: pointer;
    padding: 1vmin;
    border: solid 0.5vmin white;
    transition: all 0.25s ease;
}

.section > .screenshots > img:hover {
    border-color: blue;
}