/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial";
    scroll-behavior: smooth;
    pointer-events: auto;
}

@font-face {
    font-family: "Arial";
    src: url(/Resources/Fonts/AfacadFlux-VariableFont_slnt,wght.ttf);
}

:root {
    --text-color: black;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#input-box {
    position: fixed;
    opacity: 0;
}

#cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    z-index: 999;
}

/* Text Block */

.text-block {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.text-block > .typed {
    text-decoration-line: none;
    color: gray;
}

.text-block > .cursor {
    text-decoration-line: underline;
    color: blue;
}

.text-block > .next {
    text-decoration-line: none;
    color: var(--text-color);
}

/* Title Screen */

#settings {
    position: absolute;
    width: auto;
    height: auto;
    top: 1vmin;
    right: 1vmin;

    color: var(--text-color);
    font-size: 3vmin;
}

#entry {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#entry > .title {
    width: auto;
    height: auto;
    font-size: 15vmin;
    color: var(--text-color);
    letter-spacing: 1vmin;
}

#entry > .mode-selection {
    width: 50%;
    height: 10vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

#entry > .mode-selection > .mode {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1vmin solid var(--text-color);
    font-size: 4vmin;
}

#entry > .guiding-text {
    font-style: italic;
    font-weight: bold;
    font-size: 5vmin;
    color: var(--text-color);
}

#entry > .guide {
    font-style: italic;
    font-weight: bold;
    font-size: 3vmin;
    color: var(--text-color);
}
