/* Title */

#title {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

#title>.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    z-index: -2;
}

#title>.title_card {
    position: relative;
    width: 300px;
    height: 300px;
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title>.quote {
    width: 400px;
    height: auto;
    font-size: 25px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;

}

#title>.title_card>.name {
    font-size: 80px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    text-align: left;
    padding-left: 10px;
    z-index: 1;
}

#title>.title_card:hover .zoom_ani {
    border: 150px solid red;
}

/* Your values */

#our_search {
    position: relative;
    height: 500px;
    width: 100%;
    border: 50px solid #fff;
}

#our_search>.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: brightness(0.5);
}

#our_search>.title {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#our_search>.title>.title_card {
    position: relative;
    width: 200px;
    height: 200px;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#our_search>.title>.title_card>.text_container {
    width: 100%;
    height: auto;
    font-size: 50px;
    padding: 10px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    z-index: 2;
    text-align: left;
}

#our_search>.title>.short_text {
    width: 60%;
    height: auto;
    font-size: 20px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    font-style: italic;
}

#our_search>.content {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#our_search>.content>.values {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    gap: 20px;
}

#our_search>.content>.values>.value {
    width: 450px;
    font-size: 25px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}

#our_search>.content>.values>.value:hover {
    transform: scale(1.2);
}

/* Our positions */

#our_positions {
    position: relative;
    height: 700px;
    width: 100%;
}

#our_positions>.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: brightness(0.5);
}

#our_positions>.title_card {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50px;
    left: calc(50% - 125px);
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#our_positions>.title_card>.text_container {
    width: 100%;
    height: auto;
    font-size: 50px;
    padding: 10px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    z-index: 2;
    text-align: left;
}

#our_positions>.content {
    position: absolute;
    width: 80%;
    height: 50%;
    bottom: 50px;
    left: 10%;
}

#our_positions>.content>.positions {
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
}

#our_positions>.content>.positions>.position {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70px;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

#our_positions>.content>.positions>.position>.text {
    position: absolute;
    width: 95%;
    height: 50%;
    top: 0px;
    left: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

#our_positions>.content>.positions>.position>.files {
    position: absolute;
    width: 90%;
    height: 50%;
    bottom: 0px;
    left: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    font-size: 15px;
}

/* Apply now */

#apply_now {
    position: relative;
    width: 100%;
    height: 600px;
    border: 50px solid #fff;
}

#apply_now>.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    z-index: 0;
}

#apply_now>.title_card {
    position: absolute;
    width: 250px;
    height: 250px;
    top: calc(50% - 125px);
    left: 80px;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#apply_now>.title_card>.text_container {
    width: 100%;
    height: auto;
    font-size: 60px;
    padding-left: 30px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    z-index: 2;
}

#apply_now .title_card:hover>.zoom_ani {
    border: 125px solid red;
}

#apply_now>.content_card {
    position: absolute;
    overflow: hidden;
    width: 700px;
    height: 100%;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 25px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}

#apply_now>.content_card>.text {
    font-size: 30px;
}

#apply_now>.content_card .icon {
    padding-right: 10px;
}

#apply_now>.content_card>.socials .icon_buttons {
    background-color: transparent;
    color: #fff;
    border: none;
}