/* Project Title */

.project_title {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    position: relative;
}

.project_title .name {
    font-size: 60px;
}

#info_popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#info_popup .info_box {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;

    animation: info_box_entry 0.3s;
}

#info_popup .info {
    font-size: 20px;
}

#show_info, #unshow_info {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
}

#show_info:hover, #unshow_info:hover {
    transform: scale(1.2);
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@keyframes info_box_entry {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.gallery .column {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.column .image_item {
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.column .image_item .image {
    width: 100%;
    height: 100%;
}

.column .image_item .shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
}

.column .image_item:hover {
    cursor: pointer;
}

.column .image_item:hover .image {
    transform: scale(1.5);
}

.column .image_item:hover .shadow {
    box-shadow: inset 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
}

#media_popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#media_popup .media_box {
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;

    animation: info_box_entry 0.3s;
}

#media_popup .media_box .media {
    width: 75%;
    height: 75%;
}

#media_popup .media_box .media .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#unshow_media {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
}

#unshow_media:hover {
    transform: scale(1.2);
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* More like this */

.more_like_this {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more_like_this .title {
    height: 50px;
    width: 100%;
    font-size: 25px;
    padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_ul {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project_li {
    width: 23%;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    overflow: hidden;
}

.project_li:hover {
    cursor: pointer;
}

.project_li .project_frame {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

.project_li .project_img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.project_li .shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.project_li:hover .project_img {
    transform: scale(1.2);
}

.project_li:hover .shadow {
    box-shadow: inset 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.project_li .name {
    width: 100%;
    height: 20%;
    z-index: 1;
}

.project_li .project_text .name {
    justify-content: center;
    text-align: center;
    font-size: 18px;
}